<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>My Movies - <%= @movie.title %></title>
  </head>
  <body>
    <h1><%= @movie.title %></h1>
    <p><%= @movie.director %></p>
    <p><%= @movie.year %></p>
    <a href="/movies">Back to Index</a>
  </body>
</html>
